@model IEnumerable<PamelaProjeto.Models.Funcionario>

@{
    ViewBag.Title = "Consulta de funcionários";
}

<h2>Consulta de Funcionários</h2>
<br />
<p>
    @Html.ActionLink("Adicionar um novo", "Create")
</p>
<br />
<p>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <div class="col-md-6">
                Informe o CPF para buscar:
                <input type="text" name="cpf" value="" />
                <input type="submit" value="Pesquisar" class="btn btn-default" />
                <input type="button" onclick="window.location.href='/';" value="Limpar" class="btn btn-default" />
            </div>
        </div>
    }
<br /><br /><br /></p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CPF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sexo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PIS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataAdmissao)
        </th>
        <th>Ações</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CPF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sexo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PIS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataAdmissao)
            </td>
            <td>
                @Html.ActionLink("Alterar", "Edit", new { id = item.CPF }) |
                @Html.ActionLink("Visualizar", "Details", new { id = item.CPF }) |
                @Html.ActionLink("Excluir", "Delete", new { id = item.CPF })
            </td>
        </tr>
    }

</table>
